.week-names {
  display: grid;
  grid-template-columns: repeat(7, 1fr);

  font-size: 3.5vmin;
  font-weight: 550;
  background-color: #003863;
  color: #fff;
  justify-content: center;
  text-align: center;
  padding: 10px 0px;
}

.week-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);

  justify-content: center;
  align-items: center;
}

.week-days .day {
  display: flex;
  height: 45px;
  justify-content: center;
  align-items: center;

  border-bottom: solid 1px #f2f2f2;
  border-left: solid 1px #f2f2f2;
}

.day:hover {
  background-color: lightgrey;
  cursor: pointer;
}

.select {
  font-weight: 600;
  background-color: var(--bgColor);
}

.day.next {
  background-color: #f2f2f2;
}
.day.prev {
  background-color: #f2f2f2;
}

.day.next .number {
  color: #b2b2b2;
}

.day .number {
  color: var(--fontColor);
  font-size: var(--fontSize);
}

.day .icon {
  color: var(--iconColor);
  font-size: var(--iconSize);
}

.subtitles {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  padding: 15px;
}

.subtitles .sub-icon {
  font-size: 18px;
  margin-top: 10px;
}

.subtitles .sub-text {
  font-size: 11px;
}
