.calendar-months {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.calendar-months .month {
  padding: 5px;
  height: 90px;
  border-bottom: solid 1px #f8f8f8;
  border-right: solid 1px #f8f8f8;
  cursor: pointer;
}

.month:hover {
  background-color: lightgrey;
  cursor: pointer;
}

.month .number {
  font-size: 12px;
  float: right;
}

.month .name {
  text-align: center;
  margin-top: 40px;
  font-size: 3.7vmin;
}

.active {
  font-weight: 600;
  background-color: lightgray;
}
